@import "tailwindcss";



/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap'); */

html,
body {
    margin: 0;
    font-family: 'Outfit', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}




/* global.css or index.css */
.a4 {
  width: 210mm;       /* A4 width */
  height: 297mm;      /* A4 height */
  background: white;  
  padding: 20mm;      /* inner spacing */
  margin: auto;       /* center horizontally */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  /* For printing */
  page-break-after: always;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  .a4 {
    box-shadow: none;
    margin: 0;
  }
}

